.container {
    max-width: 900px;
}

.form-select {
    margin-top: 8px;
}

.edit-task-navbar-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}

.logout-form-hidden {
    display: none;
}